<!doctype html>
<html>
<head>
    <title>Submit Form</title>
</head>
<body>
    <h1>임시 타이틀</h1>
    <form method="POST" action="{{ url_for('submit') }}" enctype="multipart/form-data">
        <div>
            <label for="name">이름:</label>
            <input type="text" id="name" name="name">
        </div>
        <div>
            <label for="position">직급:</label>
            <input type="text" id="position" name="position">
        </div>
        <div>
            <label for="photo">사진:</label>
            <input type="file" id="photo" name="photo">
        </div>
        <input type="submit" value="제출하기">
    </form>
</body>
</html>
